@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&family=Poppins:wght@100;300;400;500;600&display=swap");

/*RESETEO*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/*VARIABLES*/

:root{
    ---clr-negro:rgba(0,0,0,1);
    ---clr-blanco:#FFF7F1;
    ---clr-rosa:#D27B31;
    ---clr-rosa-claro:#DFE0DF;
    ---clr-naranja:#78451A;
    ---clr-font-titulos:"Open sans", sans serif;
    ---clr-font-general: "Poppins", sans serif;
}

/*FIX PARA IMAGENES*/

img {
	max-width: 100%;
	height: auto;
}

/* ---TEXTO GENERAL--- */

h1,h2,h3{
    font-family: var(---clr-font-titulos)
}

h1 {
    color: var(---clr-naranja);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: var(---clr-naranja);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: justify;
}

h3 {
    color:var(---clr-rosa);
    font-weight: 400;
    font-size: 1.2rem;
}

p, a, input, select, textarea, button, label,
.sabores-centrado li {
    color:var(---clr-naranja);
    font-family: var(---clr-font-general);
    font-weight: 300;
    font-size: 0.9rem;
}

.enlace-contacto, .menu li a{
    font-weight:900;
}

.others-h1 {
    border-bottom: 0.1em solid rgba(255, 44, 0, 1);
    margin-bottom: 1em;
    padding-bottom: 2em;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

/* COMPONENTES */

.btn {
	background: var(---clr-rosa-claro);
    border-color:var(---clr-naranja);
	padding: 0.1em 1em;
	border-radius: 0.5em;
	cursor: pointer;
	text-align: center;
    color:var(---clr-naranja);
    font-weight: 500;
    max-height:70%;
}

.btn-formulario{
background: var(---clr-blanco);
}

/*UTILIDADES*/

.pd-x2 {
	padding-left: 2em;
	padding-right: 2em;
}

.others-sections{
    margin-top:4em;
    margin-bottom:4em;
}


/*HEADER Y FOOTER*/

header{
    background-color: var(---clr-blanco);
}

nav{
    border-bottom: 0.1em solid  var(---clr-naranja);
}

.logo {
    width: 9%;
    height: 9%;
    display: block;
    margin: auto;
    margin-top: 0.5em;
}

.logo:hover {
    transform:scale(1.1,1.1);
}

.menu{ 
    background:var(---clr-blanco);
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin:auto;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.menu li{
    position: relative;
    display:flex;
}

.menu li a {
    min-width: 150px;
    padding: 1em;
    background:var(---clr-blanco);
    text-align: center;
    color: var(---clr-naranja);
}

.menu li a:hover{
    color: var(---clr-rosa);
    background: var(---clr-blanco);
}

.submenu{
    display: none;
    position:absolute;
    top:50px;
    z-index: 1;
}

.submenu li{
    background: var(---clr-blanco);
}

li:hover .submenu{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.submenu li a:hover{
    background: var(---clr-blanco);
}

#cremas:target{
    background-color: var(---clr-rosa);
    color: var(---clr-rosa-claro)
}

#chocolates:target{
    background-color: var(---clr-rosa);
    color: var(---clr-rosa-claro)
}

#dulce-de-leche:target{
    background-color: var(---clr-rosa);
    color: var(---clr-rosa-claro)
}

#frutales:target{
    background-color: var(---clr-rosa);
    color: var(---clr-rosa-claro)
}

#especiales:target{
    background-color: var(---clr-rosa);
    color: var(---clr-rosa-claro)
} 

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(---clr-blanco);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.minilogo {
    width: 7%;
    height: 7%;
}

.footer-section > p{
    margin-top: 1em;
    font-size:0.8em;
    text-align: right;
}

.footer-container{
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center; 
}

.footer-container p:first-child {
    font-weight: 500;
}

footer > form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer form > div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

footer form div >  p{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    margin-bottom: 0.1em;
}

#newsletter{
    padding:0.5em;
    border-radius: 0.25em;
    border-color: var(---clr-naranja);
}

/*INDEX.HTML*/

/*Hero Section*/

.hero{
    background-image:url("../imagenes/sabores-heladera-general-pequeña.jpg");
    height: 70vh;
    background-attachment: fixed;
	position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
	place-content:center left;
}

#txt-hero-image {
    text-align: left; 
    font-size: 4rem;
    color:var(---clr-blanco);
    font-weight: 600;
    padding-left: 2em;
}

#txt-hero-image{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 3s;
}

@keyframes slidein{
    from {
    margin-left: 100%;
    width: 300%;
    }

    to {
    margin-left: 0%;
    width: 100%;
    }
}

/*Main*/

.index-section{
    margin-top:6em;
    margin-bottom:6em;
}

.index-section > h2, .index-section  div hgroup> h2 {
    color:var(---clr-naranja);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.index-sabores {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.sabores {
    margin: 1em;
    margin-left: 4em;
    margin-right: 4em;
    padding: 0.3em;
}

.sabores p {
    color: rgb(236, 134, 75);
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.sabores img{
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.664);
    width: 12em;
    height: 8.25em;
    margin-bottom: 1em;
}


.lanzamiento, .delivery{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding:1em;
    background-color: var(---clr-rosa-claro);
    margin-top:4em;
    margin-bottom:4em;
    margin-left:10em;
    margin-right:10em;
    border-radius: 0.25em;
    box-shadow: 0 0 50px 0 var(---clr-rosa-claro);
    height: 250px;
}

.lanzamiento > div{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
} 

.lanzamiento div > img{
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.664);
    max-width:16em;
    margin-bottom: 1em;
}

.lanzamiento div > p{
    font-size: 1em;
    margin-bottom: 0.4em;
    font-weight: 700;
}

/*SABORES*/
/*Main*/

.sabores-centrado {
    text-align: center;
    margin-bottom:1em;
    margin-top:1.5em;

}
.sabores-centrado li {
    display: inline;
    text-align: justify;
}

#cremas, #chocolates, #dulce-de-leche, #especiales, #frutales{
    background-color: var(---clr-rosa-claro);
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 var(---clr-rosa-claro);
}

/*POSTRES.HTML*/
/*Main*/

.postres-individual{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-bottom:1em;
}

.postres-individual div {
    text-align: center;
    margin-bottom:2em;
    margin-top:4em;
    padding:1em;
    background-color: var(---clr-rosa-claro);
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 var(---clr-rosa-claro);
}

.postres-individual h3,
.postres-individual p {
    text-align: center;
}

.postres-individual img{
    border-radius: 0.20em;
}


/*NOSOTROS.HTML*/
/*Main*/

.conocenos-centrado{
    margin-bottom:2em;
    margin-top:3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    padding:1em;
    padding-bottom:3em;
}

.nosotros{
    padding:2em;
    background-color: rgba(184, 169, 169, 0.37);
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
}

.conocenos-centrado h3,
.conocenos-centrado p {
    text-align: center;
    padding:1em;
}


/*CONTACTO.HTML*/
/*Main*/

.contactate{
    padding-top: 3em;
    padding-bottom: 3em;
    letter-spacing: 0.1rem;
}

.foto-formulario{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foto-formulario img{
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.664);
} 

.formulario-contacto{
    padding:2em;
    background-color: rgba(184, 169, 169, 0.37);
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
    text-align: left;
}

.formulario-contacto > form{
    margin-top: 1em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formulario-contacto > form div{
    display:grid;
} 

.formulario-contacto form div > p{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    margin-bottom: 0.1em;
}

.formulario-contacto button{
    margin:1em;
    
}

#nombre,#telefono,#email,#tipo-de-consulta,#mensaje,#enviar-copia{
    padding:1em;
    border-radius: 0.25em;
    border-color: var(---clr-naranja);
}

#formulario-check{
    display:flex;
    flex-direction: row;
    align-items: center;
}

/*DONDE-ESTAMOS.HTML*/
/*Main*/

.donde-estamos-section{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:2em;
    margin-top:3em;
    padding:1em;
    padding-bottom:3em;
}

.donde-estamos-section div{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.donde-estamos-section div *{
    text-align: center;
    margin:0.5em;
}

.donde-estamos-section div div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.google-maps-section{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:3em;
}

iframe{
    background-color: rgba(184, 169, 169, 0.37);
    border-radius: 0.20em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
    text-align: left;
    }

