footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(182, 137, 118, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.03em;
    @include padLeRi;

    > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    form{
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            }
    }
    
    form{
        div{
            p {
            margin-top: 1em;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.2em;
            margin-bottom: 0.1em;
            }
        }
    }   
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    > p {
        margin-top: 1em;
        font-size: 0.8em;
        text-align: center;
    }
    * {
        order: 2;
    }
    > form {
        order: 1;
    }
}

.footer__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    > p:first-child {
        font-weight: 500;
    }
    p{
        padding-top: 0.5em;
    }
}

.footer__logo {
    width: 15%;
    height: 15%;
    margin-top:0.5em;
}

#newsletter {
    padding: 0.5em;
    border-radius: 0.25em;
    border-color: $clr-marron-oscuro;
}

@media (min-width: 800px) {
    footer {
        text-align: center;
        margin: 0.03em;
    }

    .footer__section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
            justify-content: space-between;
        }
        * {
            order: 1;
        }
        form p {
            font-size: 0.96rem;
        }
    }

    .footer__div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 0.5em;

    }
    .footer__logo {
        width: 7%;
        height: 7%;
    }

    .footer__section--copy{
        width:100%;
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 1000px) {
    footer {
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
