
* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none !important;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body {
    background-color: #ffffff;
}

